*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

img {
  max-width: 100%;
}

nav.navbar-container {
  display: flex;
  padding: 2em;
  box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.247);
}

img.navbar-logo {
  width: 120px;
}