*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === GENERAL STYLES === */
html, body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

img {
  max-width: 100%;
}


section {
  padding: 0 2.75em;
}

/* === NAVBAR STYLES === */
.navbar--container {
  display: flex;
  padding: 2em;
  box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.247);
}

.navbar--logo {
  width: 120px;
}

/* === HERO SECTION STYLES === */
.hero--container {
  display: flex;
  flex-direction: column;
  margin-top: 2.75em;
}

.hero--img {
  width: 80%;
  align-self: center;
}

.hero--title {
  font-size: 3rem;
  margin: 0.75em 0 .125em;
}

.hero--text {
  font-size: 1.25rem;
  width: 50%;
  margin: 0;
  padding: 0;
}
